

<nav>
  <a routerLink="/login" routerLinkActive="active"></a>
  <a routerLink="/nav-bar" routerLinkActive="active"></a>
<a routerLink="/home" routerLinkActive="active"></a>
  <a routerLink="/sign-in" routerLinkActive="active"></a>
  <a routerLink="/product-details" routerLinkActive="active"></a>
  <a routerLink="/cart" routerLinkActive="active"></a>
  <a routerLink="/my-profile" routerLinkActive="active"></a>
  <a routerLink="/add-product" routerLinkActive="active"></a>
</nav>

<router-outlet></router-outlet>
