.btn-space {
  margin-right: 10px;
  margin:5px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.s{
  background-color:rgba(0, 0, 0, 0.1);

  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-content {
  position: absolute;
  bottom: 60%;
  left: 15%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.flex-container {
  display: flex;
  //margin-left:120px;
  margin-right:120px;
}
.image
{
  height:180px;
  width:270px;
}
.bor{
  height:350px;
  width:270px;
}
.nav-link:hover,.nav-link-active:hover{
  color:#d5d5d5;
  background-color:#70757a ;
}

.txt:hover {
  text-decoration: underline;
  color:blue;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


.col-item:hover .info {
  background-color: #F5F5DC;
}
.price
{
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}



.separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.separator span
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.separator span i
{
  margin-right: 5px;
}
.btn-add
{
  width: 50%;
  float: left;
}

.btn-add
{
  border-right: 1px solid #E1E1E1;
}

.btn-details
{
  width: 50%;
  float: left;
  padding-left: 20px;
}
.h:hover{
  color:cadetblue;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  //margin-left:120px;
  margin-right:120px;
}
.image
{
  height:180px;
  width:270px;
}
.bor{
  height:350px;
  width:270px;
}
.nav-link:hover,.nav-link-active:hover{
  color:#d5d5d5;
  background-color:#70757a ;
}

.txt:hover {
  text-decoration: underline;
  color:blue;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


.col-item:hover .info {
  background-color: #F5F5DC;
}
.price
{
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}



.separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.separator span
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.separator span i
{
  margin-right: 5px;
}
.btn-add
{
  width: 50%;
  float: left;
}

.btn-add
{
  border-right: 1px solid #E1E1E1;
}

.btn-details
{
  width: 50%;
  float: left;
  padding-left: 20px;
}
.h:hover{
  color:cadetblue;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  //margin-left:120px;
  margin-right:120px;
}
.image
{
  height:180px;
  width:270px;
}
.bor{
  height:350px;
  width:270px;
}
.nav-link:hover,.nav-link-active:hover{
  color:#d5d5d5;
  background-color:#70757a ;
}

.txt:hover {
  text-decoration: underline;
  color:blue;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


.col-item:hover .info {
  background-color: #F5F5DC;
}
.price
{
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.price h5
{
  line-height: 20px;
  margin: 0;
}

.price-text-color
{
  color: #219FD1;
}



.separator
{
  border-top: 1px solid #E1E1E1;
}

.clear-left
{
  clear: left;
}

.separator span
{
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.separator span i
{
  margin-right: 5px;
}
.btn-add
{
  width: 50%;
  float: left;
}

.btn-add
{
  border-right: 1px solid #E1E1E1;
}

.btn-details
{
  width: 50%;
  float: left;
  padding-left: 20px;
}
.h:hover{
  color:cadetblue;
  text-decoration: underline;
}
.btn-space {
  margin-right: 10px;
  margin:5px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.s{
  background-color:rgba(0, 0, 0, 0.1);

  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-content {
  position: absolute;
  bottom: 60%;
  left: 15%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
