.basic {
  height: 90%;

  background-size:1100px 1200px;
  scroll-behavior: unset;
}
.sitemessage {
  display: inline-block;
  white-space: nowrap;
  animation: floatText 10s infinite linear;
  padding-left: 100%; /*Initial offset*/
}
.sitemessage:hover {
  animation-play-state: paused;
}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.basic
{
opacity:0.5;
}
.login
{

  background-color:rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height:50%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.in {
  color: rgba(100%, 0%, 0%, 0);
  text-shadow: 0 0 0 black;
  width:25%;
}
.lists {
  overflow:hidden;
  background-color:black;
  width:100%;
  float:left;
  color:white;
  padding:10px;
  text-align:center;
  text-decoration:none;
  margin:0px;
}
i {
  display:inline;
  margin:0px;
  padding:10px;
  display-content:center;
}
div font:hover{
  color:white;
  border-bottom: 10px solid orange;
  padding-bottom:15px;
}
.s{
  margin:15px;
}
* {
  box-sizing: border-box;
}
.column
{
  width: 25%;
  margin-bottom: 20px;
  border-radius:5%;
  float:left;
  color:white;
  margin: 15px;
  text-align: center;


}
.row:after
{
  display:flex;
  content: "";
  display: table;
  clear: both;
}
.row
{
  display:flex;
  padding:20px;
  width:80%;
  height:80%;
  margin-left:130px;
}
.row2{
  display:flex;
  margin-left:130px;
  width:80%;
  padding:10px;
  height:25%;
}
.column2{
  width: 33%;
  margin: 20px;
  border-radius:5%;
  background-color:#e6e6e6;
  float:left;
  color:white;
  margin: 10px;
  text-align: center;
}
.ending{
  align:justify;
}
.row3{
  background-color:Teal;
  height:400px;
  margin:0px;
}
.column3{
  display:flex;
  color:white;
}
.d{
  float:left;
  height:10%;
}
.column4{
  margin:70px;
  padding:20px;
  color:white;
  width:300px;
}
a{
  margin-left:50px;
  text-decoration:none;
}
